.Navbar {
    overflow: hidden;
    background-color: #333;
}

.nav-btn {
    display:block;
    font-size: 16px;
    background-color: inherit;
    padding: 15px 16px;
}

#icon {
    user-select:none;
    cursor:pointer;
    color:white;
    padding:none;
    font-size:30px;
    padding: 6px 20px;
}

.right-buttons {
    float:right;
    display:flex;
    flex-direction: row;
}

@media screen and (max-width: 600px) {

    .Navbar a:not(:first-child) { display: none; }

    .Navbar .right-buttons { display: none }

    .Navbar .search-button { display: none }

    #icon {
        display: block;
    }

    #add-btn {
        float:right;
    }
}

@media screen and (max-width: 600px) {
    .Navbar.responsive { position: relative; }

    .Navbar.responsive .right-buttons {
        display:block;
        float:none;
    }

    .Navbar.responsive .search-button {
        display:block;
        float:none;
    }

    .Navbar.responsive #icon {
      position: absolute;
      right: 0;
      top: 0;
    }

    .Navbar.responsive .nav-btn { 
        float: none;
        display: block;
        text-align: left;
    }
}